.data-card {
    max-width: 1240px;
    border-radius: 25px;
    background: #f6f6f6;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}
.width-container {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 340px;
    min-width: 280px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 1rem;
}
.width-container img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    filter: brightness(75%);
}
.width-container h2 {
    position: absolute;
    bottom: 6%;
    left: 5%;
    color: aliceblue;
    font-size: 1.3rem;
}
@media (max-width: 719px) {
    .width-container {
        max-width: 100%;
        min-width: 100%;
    }
}
