.collapse {
    border-radius: 5px;
    margin-bottom: 35px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1.5em;
    padding: 1rem;
}

.header-collapse {
    align-items: center;
    background-color: #ff6060;
    border-radius: 5px;
    display: inline-flex;
    height: 25%;
    min-height: 50px;
    width: 100%;
}

.title-collapse {
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    margin: 5px 10px;
    font-size: 18px;
    font-weight: 500;
}

.arrow-collapse {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    width: 100%;
}
.arrow-collapse:hover {
    cursor: pointer;
}

.arrow-collapse.true {
    justify-content: start;
    transform: rotate(-180deg);
}

.description-collapse {
    background-color: #f6f6f6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ff6060;
    height: 100%;
    margin-top: -10px;
    min-height: 300px;
    padding: 25px 10px 10px 10px;
    font-size: 24px;
    width: 100%;
}
.imgAbout {
    border-radius: 25px;
    overflow: hidden;
}
