@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

.collapse {
    border-radius: 5px;
    margin-bottom: 35px;
    text-align: left;
}

.header-collapse {
    align-items: center;
    background-color: #ff6060;
    border-radius: 5px;
    display: inline-flex;
    min-height: 50px;
    width: 100%;
}

.title-collapse {
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    margin: 5px 10px;
    font-size: 18px;
    font-weight: 500;
}

.arrow-collapse {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    width: 100%;
}
.arrow-collapse:hover {
    cursor: pointer;
}

.arrow-collapse.true {
    justify-content: start;
    transform: rotate(-180deg);
}

.description-collapse {
    background-color: #f6f6f6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ff6060;
    height: 100%;
    margin-top: -10px;
    min-height: 300px;
    padding: 25px 10px 10px 10px;
    font-size: 24px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.description-collapse ul li {
    font-size: 24px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    margin-top: 0;
    padding: 0;
}
.APropos {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2rem;
    width: 80%;
}
.imgAbout {
    border-radius: 25px;
    overflow: hidden;
}
@media (max-width: 719px) {
    .collapse {
        width: 100%;
    }
    .APropos {
        width: 100%;
    }
}
